<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:vite="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
<!--    <link rel="stylesheet" th:href="@{/css/application.css}">-->
    <vite:client></vite:client>
    <link rel="stylesheet" vite:href="@{/css/application.css}">
    <link rel="stylesheet" vite:href="@{/css/test.scss}">
</head>
<body>
<main layout:fragment="content">
</main>

<script type="text/javascript" th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<th:block layout:fragment="script-content">

</th:block>
</body>
</html>
