<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" xmlns:vite="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    Welcome to the other side.
</div>
<th:block layout:fragment="script-content">
<!--    <script type="module" vite:src="@{/js/index-page.js}"></script>-->
    <script type="module" vite:src="@{/js/hello.ts}"></script>
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
