<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" xmlns:vite="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    Welcome to the other side.

    <h1>Vite Chunking Example</h1>
    <button id="load-module1">Load Module 1</button>
    <button id="load-module2">Load Module 2</button>
    <div id="output"></div>
</div>
<th:block layout:fragment="script-content">
    <script type="module" vite:src="@{/js/test-module-loader.js}"></script>
    <script type="module" vite:src="@{/js/hello.ts}"></script>
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) -->
</th:block>
</body>
</html>
